
.places{
	height:50vw;
	margin: 0px;
	border: 0px;
	display: inline-block;
	text-align: top;
	vertical-align: top;
	width:45vw;
    float: none;
}


.maps{
	height:50vw;
	margin: 0px;
	border: 0px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
	width:45vw;
    float: right;
}

.images{
	height:50vw;
	text-align: right;
	width: 45vw;
    float: right;
}

